.header-container{
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
}
.ul-li{
    display: flex;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
text-align: center;
width: 601px;
justify-content: space-between;
margin-right: 40px;
margin-left: 151px;
color: #37393F;


}
.right-logo{
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.87px;
    text-align: center;

}
.right-container{
    display: flex;
    align-items: center;
}
.main-div{
    width: 1220px;
    height: 510px;
    margin: 0 auto;
margin-top: 254px;
display: flex;
justify-content: space-between;

}
.small-box{
    width: 283px;
    height: 86px;
    margin: 0 auto;
}

.first-section {
width: 1220px;
height:510px;
margin: 0 auto;
margin-top: 136px;

}

.work-1{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    text-align: center;
    color: #37393F;
    
}
.work-2{
    font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 48.4px;
text-align: center;
color: #37393F;


}

.first-box{
    width: 1220px;
    min-height: 383px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-1{
    width: 386px;
    height: 383px;
    display: flex;
    background-color: #F4F4F4;
    justify-content: space-between;
    flex-wrap: wrap
}

.box-2{
    width: 386px;
    height: 383px;
 background-color: #F4F4F4;    
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.box-3{
    width: 386px;
    height: 383px;
background-color: #F4F4F4;
}
.small-div1{
    width: 300px;
height:  185px;

margin: 0 auto;


}

.first-h3{
    font-family: Poppins;
font-size: 25px;
font-weight: 600;
line-height: 31.75px;
text-align: center;
color: #37393F;
padding-bottom: 16px;
padding-top: 58px;
}
.first-paragraph{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 26.31px;
text-align: center;
color: #7D7D7D;
padding-bottom: 37px;

}

.first-h5{
    font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 21.78px;
text-align: center;
color: #6B77E5;
padding-bottom: 10px;
}
.first-logo{
    display: flex;
    justify-content: center;
    
}
.small-div2{
    width: 300px;
height: 185px;
margin: 0 auto;
}
.second-h3{
    font-family: Poppins;
font-size: 25px;
font-weight: 600;
line-height: 31.75px;
text-align: center;
color: #37393F;
padding-bottom: 16px;
padding-top: 58px;

}
.second-paragraph{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 26.31px;
text-align: center;
color: #7D7D7D;
padding-bottom: 37px;
}
.second-h5{
    font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 21.78px;
text-align: center;
color: #6B77E5;
padding-bottom: 10px;
}
.logo-2{
    display: flex;
    justify-content: center;
}
.small-div3{
    width: 300px;
    height: 185px;
    margin: 0 auto;

}
.third-h3{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 31.75px;
    text-align: center;
    color: #37393F;
    padding-bottom: 16px;
    padding-top: 58px;

}
.logo-3{
    display: flex;
    justify-content: center;
}







.text-image{
    width: 511px;
    height: 270.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.big-pic{
    width: 100%;
}
.image-new-block{
    position: relative;
}
.pic-h5{
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
text-align: left;
color: #37393F;
display: flex;
justify-content: center;
padding-bottom: 16px;
padding-top: 13px;
}


.pic-h2{
    font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 48.4px;
text-align: center;
color: #37393F;
padding-bottom: 21px;
}
.pic-paragraph{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 26.31px;
text-align: center;
color:#37393F;
padding-bottom: 47px;

}

.pic-logo{
    display: flex;
justify-content: center;

}

.footer-div{
width: 1220px;
height: 659px;
margin: 0 auto;
margin-top: 132px;

}


.footer-small-div{
    width: 348px;
height: 86px;
margin: 0 auto;
}
.footer-h5{
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
text-align: left;
color: #37393F;
display: flex;
justify-content: center;
}
.footer-h2{
    font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 48.4px;
text-align: center;
color: #37393F;
display: flex;
justify-content: center;
}


.px1{
    width: 1220px;
    height: 532px;
    display: flex;
    justify-content: space-between;
    position: relative;
   

}
.footer-box-1{
    width: 386px;
height: 532px;

}
.white-div1{
    width: 341px;
    height: 114px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: end;
    position: absolute;
    left: 22px;
    bottom: 22px;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.text-box{
    font-family: Poppins;
font-size: 25px;
font-weight: 600;
line-height: 37.5px;
text-align: center;
color: #37393F;

}
.text-box2{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 24.33px;
text-align: center;
color: #7D7D7D;

}
.white-div2{
    width: 341px;
    height: 114px;
    position: absolute;
    left: 22px;
    bottom: 22px;
    background-color: #F4F4F4;
    padding-top: 24px;
    

}
.footer-box-2 {
    width: 386px;
height: 532px;
position: relative;
}


.footer-box-3{
    
    position: relative;
    background-color: #F4F4F4;
}
.white-div3{
    width: 341px;
    height: 114px;
    position: absolute;
    left: 22px;
    bottom: 22px;
    background-color: #F4F4F4;
    padding-top: 24px;
}